<h1>Tags</h1>

<ul>
    <% @tags.each do|tag| %>
        <li>
            <%= link_to tag.name, tag_path(tag) %>
            <em><%= link_to "x-> delete", tag_path(tag), method: :delete, data: {confirm: "Warning! This action will delete following tag x-> #{tag.name}"} %></em>
        </li>
    <% end %>
</ul>